In [4]:
import pandas as pd

In [6]:
df = pd.read_csv(r'C:\project\ML_pipeline_project\ml_pipeline_project\artifact\Stage00_data_ingestion\raw_data\adult.csv')

In [7]:
df.head()

                                     <!DOCTYPE html>
0  <html lang="en" data-color-mode="auto" data-li...
1                                             <head>
2                             <meta charset="utf-8">
3    <link rel="dns-prefetch" href="https://githu...
4    <link rel="dns-prefetch" href="https://avata...

In [8]:
df.columns

Index(['<!DOCTYPE html>'], dtype='object')

In [12]:
dataset_download_id = r"https://raw.githubusercontent.com/Shivan118/ml_pipeline_project/main/notbook/data/income_cleandata.csv"

In [13]:
raw_data_frame = pd.read_csv(dataset_download_id)

In [14]:
raw_data_frame.head()

,age,workclass,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,6,13,4,0,1,4,1,2174,0,40,38,0
1,50,5,13,2,3,0,4,1,0,0,13,38,0
2,38,3,9,0,5,1,4,1,0,0,40,38,0
3,53,3,7,2,5,0,2,1,0,0,40,38,0
4,28,3,13,2,9,5,2,0,0,0,40,4,0